.section_heading {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #1a181e;
}
.sticky_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 224px;
  height: 64px;
  padding: 0 32px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #1a181e;
}
.help_link {
  color: #4d4d4d;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.header_search {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  padding: 9px 16px;
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 400px;
}
.search_icon {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
.search_input {
  width: 100%;
  background: transparent;
  padding-left: 28px;
  outline: none;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.search_input::placeholder {
  color: #808080;
}
.header_cta {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_btn {
  cursor: pointer;
  background-color: #e6e6e6;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
